.tabs {
  &.shared {
    li {
      a {
        color: $white;
      }

      &.is-active {
        a {
          color: $primary;
          border-bottom-color: $primary;
        }
      }
    }
  }
}

.tabs-content {
  .tab-item {
    display: none;

    &.active {
      display: block;
    }

    button#play-all{
      margin-bottom: 15px;
    }
  }
}
